.add-todo-button-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 35px 1fr;
  grid-template-rows: 44px;
  margin-right: 30px;
  line-height: 44px;
  grid-template-areas: "plus text";
  align-items: center;
  cursor: pointer;
}

.add-todo-button-container .add-todo-button-plus {
  grid-area: plus;
  font-size: 26px;
  color: #3d3d3d;
  font-weight: 100;
  text-align: center;
  margin-bottom: 5px;
}

.add-todo-button-container:hover .add-todo-button-plus {
  font-weight: 200;
}

.add-todo-button-container .add-todo-button-text {
  grid-area: text;
  padding-left: 6px;
  font-size: 14px;
  font-weight: normal;
  color: rgb(128, 128, 128);
}

.add-todo-button-container:hover .add-todo-button-text {
  color: #3d3d3d;
}
