.sidebar {
  height: 100%;
  width: 265px;
  padding: 15px;
  background-color: #fafafa;
  border-right: 1px solid #f1f1f1;
  float: left;
  text-align: left;
}

.sidebar > div {
  margin: 15px;
  /* border: 1px solid blue; */
}

.sidebar .nav-link {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.sidebar .nav-link.projects {
  margin-left: 10px;
}
