.sidebar {
  grid-area: sidebar;
  padding-top: 80px;
  padding-left: 30px;
  background-color: #fafafa;
  border-right: 1px solid #f1f1f1;
  text-align: left;
}

.sidebar:hover {
  overflow: scroll;
}

.sidebar .nav-link {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
