.sidebar {
  grid-area: sidebar;
  padding-top: 80px;
  padding-left: 30px;
  background-color: #fafafa;
  border-right: 1px solid #f1f1f1;
  text-align: left;
}

.sidebar:hover {
  overflow: scroll;
}

.sidebar .nav-link {
  box-sizing: border-box;
  display: block;
  height: 40px;
  line-height: 22px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px;
  padding-left: 5px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 16px;
  cursor: pointer;
}

.sidebar .nav-link:hover {
  background-color: #fff;
}

.sidebar .nav-link.active,
.sidebar .nav-link.nav-link.projects-list-item.active {
  background-color: #fff;
  font-weight: bold;
}

.sidebar .nav-link .nav-link-icon {
  color: #555;
  margin-right: 5px;
  width: 28px;
  font-size: 16px;
}

.sidebar .nav-link .today-text {
  font-size: 8px;
  font-weight: 300;
  position: relative;
  right: 23px;
  bottom: 1px;
  margin-right: -10px;
}

.sidebar .nav-link.projects {
  font-weight: bold;
}

.sidebar .nav-link-icon.projects {
  transition: transform 0.2s ease-out;
}

.sidebar .nav-link.projects .plus {
  font-size: 28px;
  font-weight: 200;
  float: right;
}

.sidebar .project-lists-container {
  height: 0px;
  overflow: hidden;
  transition: height 0.1s ease-out;
}

.sidebar .nav-link.projects-list-item {
  padding-left: 38px;
}
