.sidebar {
  grid-area: sidebar;
  padding-top: 80px;
  padding-left: 30px;
  background-color: #fafafa;
  border-right: 1px solid #f1f1f1;
  text-align: left;

  &:hover {
    overflow: scroll;
  }

  .nav-link {
    box-sizing: border-box;
    display: block;
    height: 40px;
    line-height: 22px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3px;
    padding-left: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 16px;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }

    &.active,
    &.projects-list-item.active {
      background-color: #fff;
      font-weight: bold;
    }

    &.projects {
      font-weight: bold;
    }

    &.projects {
      transition: transform 0.2s ease-out;

      .plus {
        font-size: 28px;
        font-weight: 200;
        float: right;
      }
    }

    &.projects-list-item {
      padding-left: 38px;
    }

    .counter {
      color: #aaa;
      font-size: 11px;
      margin-left: 5px;
    }

    .nav-link-icon {
      color: #555;
      margin-right: 5px;
      width: 28px;
      font-size: 16px;
    }

    .today-text {
      font-size: 8px;
      font-weight: 300;
      position: relative;
      right: 23px;
      bottom: 1px;
      margin-right: -10px;
    }
  }

  .project-lists-container {
    height: 0px;
    overflow: hidden;
    transition: height 0.1s ease-out;
  }
}
