.todo-list-container {
  margin-top: 12px;
  margin-bottom: 40px;
}

.todo-list-container .todo-list-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  margin-right: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 7px;
}

.todo-list-container .todo-list-header .todo-list-title.overdue {
  color: red;
}

.todo-list-container .todo-list-header .todo-list-date {
  grid-area: date;
  margin-left: 6px;
  color: #999;
  font-size: 11px;
  font-weight: normal;
}

.todo-list-container .todo-list-content {
}

.todo-list-container .todo-list-add-todo-placeholder {
  margin-bottom: 25px;
}
