.view-container {
  grid-area: viewcontainer;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 20px;
  background-color: white;
  border-right: 1px solid #f1f1f1;
}

.view-header {
  font-size: 20px;
  margin-bottom: 6px;
}

.view-header.week {
  margin-bottom: 30px;
}
