.view-container {
  grid-area: viewcontainer;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 20px;
  background-color: white;
  border-right: 1px solid #f1f1f1;
}

.view-header {
  font-size: 20px;
  margin-bottom: 30px;
}

.view-header.inbox {
  margin-bottom: 6px;
}

.todo-list {
  margin-top: 12px;
  margin-bottom: 40px;
}

.todo-list-header {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 7px;
}

.todo-list-header.overdue {
  color: red;
}

.todo-list-header .date {
  margin-left: 6px;
  color: #999;
  font-size: 11px;
  font-weight: normal;
}

.add-todo .btn {
  /* border: 1px solid black; */
  border-radius: 3px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 7px 10px;
}

.add-todo .cancel:hover {
  cursor: pointer;
  text-decoration: underline;
}

.add-todo .input {
  height: 30px;
  border: none;
  border: 2px solid #f0f0f0;
  /* display: block; */
  width: 95%;
  margin-left: 10px;
  font-size: 14px;
  padding: 3px;
  padding-left: 10px;
}

.add-todo .input input:first-child {
  border: none;
  height: 30px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
  width: 70%;
}

.add-todo .input input:last-child {
  border: none;
  border-left: 1px solid gray;
  height: 30px;
  outline: none;
  float: right;
  width: 150px;
  font-size: 14px;
  padding-left: 10px;
}

.add-todo input:focus {
  outline: none;
}

.todo-form-projects-button {
  font-size: 12px;
  float: right;
  width: 150px;
  margin-right: 15px;
}
